#signup-module{
    //background: #222;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    //background-fill-mode: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .container {
        background: #061F2F;
        padding: 20px 25px;
        border: 5px solid #ffffff;
        width: 550px;
        height: auto;
        box-sizing: border-box;
        position: relative;
        #reg-form{
            .col.s6 > .btn {
                width: 100%;
            }
            .gender-male,.gender-female {
                display: inline-block;
            }
            .gender-female {
                margin-left: 35px;
            }
            radio:required {
                border-color: red;
            }
            .container {
                animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
            }
            
            @keyframes showUp {
                0% {
                    transform: scale(0);
                }
                100% {
                    transoform: scale(1);
                }
            }
            .row {
                input{
                    color: #ffffff;
                }
                input[type='radio']:checked+span:after, [type="radio"].with-gap:checked+span:after{
                    background-color:#101e26;
                    border: 2px solid #ffffff;
                }
                button{
                    background-color:#101e26;                
                }
                margin-bottom: 10px;
            }
             
             .ngl {
               position: absolute;
               top: -20px;
               right: -20px;
             }
        }
      }
         
}