header{
    .nav-wrapper{
        .sidenav-trigger{
            display: block;
            cursor: pointer;
        }
    }
}
// agrandan al maximo el container principal
.main-container-layout{
    display: flex;
    flex-wrap: wrap;
    //background-color: #27343B;
    .container{
        //background-color: #061F2F;
    }
}
